<script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="graphs">

        <h3><span>Update Data</span></h3>


        <div class="clearfix"> </div>

    </div>
</div>
@using (Html.BeginForm("UpdateFacilities", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <!-- (2): textarea sẽ được thay thế bởi CKEditor -->
    <textarea id="editor1" name="editor1" cols="80" rows="10">
    <p>Hello <strong>CKEditor</strong></p>
    </textarea>

    <!-- (3): Code Javascript thay thế textarea có id='editor1' bởi CKEditor -->
    <script>

        CKEDITOR.replace('editor1', {
            language : 'en',
        });

    </script>

}

