<script src="../ckedditor/ckeditor.js" type="text/javascript"></script>
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="graphs">
        
            <h3><span>Update Data</span></h3>
            <script>

                CKEDITOR.replace("NoiDung");

            </script>
                
            <div class="clearfix"> </div>
        
    </div>
</div>

