@using projectsem3.Models
@model projectsem3.Models.TABULAR
@{
    ViewBag.Title = "Check Admission Status";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@if (ViewBag.Status != null)
{
    <script>
        $(document).ready(function () {
            alert('@ViewBag.Status');
        })
    </script>
}

<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Index/Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Admission Check</li>
    </ol>
</nav>
<!-- breadcrumb -->
<!-- login -->
<div class="login-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
            Admission
            <span class="font-weight-bold">check</span>
        </h3>
        <!-- content -->
        <div class="sub-main-w3 pt-md-4">
            @using (Html.BeginForm("Check", "Admission", FormMethod.Get))
            {
                <div class="form-style-agile form-group">
                    <label>
                        Use the provided UniqueID (eg : ST001) to check your admission status
                        <i class="fas fa-address-card"></i> :
                    </label>
                    <input type="text" name="SearchString" value="@ViewBag.SearchString" class="form-group" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Check your status</button>
            }

            <!-- //content -->
        </div>
    </div>
    <!-- //login -->
